body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.container{
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
}

label{
    display: block;
    margin-top: 15px;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #2d89ef;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #1b5fa7;
}

#resultado{
    margin-top: 20px;
    font-weight: bold;
}